html, body {
    height: 100%;
}

.bloqueAzul {
    background-color: #3f51b5;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-bottom: 30px;
}

main section {
    text-align: center;
}

article~article {
    width: 40%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 2px 1px 18px 12px rgba(230,225,230,1);
    -moz-box-shadow: 2px 1px 18px 12px rgba(230,225,230,1);
    box-shadow: 2px 1px 18px 12px rgba(230,225,230,1);
    padding: 50px;
    margin-top: 40px;
}

article~article div {
    padding-bottom: 30px;
    text-align: left;

}

.btn-iniciar {
    width: 100%;
    background-color: #3f51b5;
    color: #fff;
}

.btn:hover {
    color: #3f51b5;
    border: 1px solid #3f51b5;
}


/* CSS DE ASISTENCIA */

ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

ul li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

nav {
    padding: 20px;
}


select~table {
    margin-top: 40px;
}

.btnI {
    width: 50px;
}

.bimg {
    width: 100%;
}

.btn-outline-primary:hover {
    color: white;
}